@import '../../css/colors.css';
@import '../../css/dimensions.css';
@import '../../css/font.css';

.about-container {
    width: 100%;
    margin-top: var(--about_top_margin);
    margin-bottom: var(--about_bottom_margin);
}

.about-container-cute {
    width: var(--about_container_cute_width);
    margin-top: var(--about_top_margin);
}

.about-title {
    width: 100%;
    margin-bottom: 20px;
    font-family: var(--expertise_ff);
    font-size: var(--expertise_fs);
    font-weight: var(--expertise_fw);
    text-align: center;
}

.about-subtitle {
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.roles-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.roles-container-vertical {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.role {
    width: 48%;
}

.role-full {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.role-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.role-title {
    width: 100%;
    height: var(--role-icon-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--role_title_fs);
    font-weight: var(--role_title_fw);
    font-family: inherit;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-right: 3px solid var(--text_primary);
    border-top: 3px solid var(--text_primary);
    border-bottom: 3px solid var(--text_primary);
}

.role-content {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: inherit;
    color: var(--text_primary);
    font-size: var(--primary_fs);
    font-weight: var(--primary_fw);
}

#swe-role {
    color: var(--text-react);
}

#ml-role {
    color: var(--text-pytorch);
}
