@import '../../css/colors.css';
@import '../../css/font.css';
@import '../../css/dimensions.css';

.portfolio-section {
    margin: 2px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: var(--bg_section);
    backdrop-filter: blur(20px);
}

.hover-pointer:hover {
    cursor: pointer;
}

.visible-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logo-container {
    margin: 0;
}

.logo {
    width: var(--logo_width);
    margin: 5px;
    border-radius: 6px;
}

.visible-text {
    width: calc(100% - 50px);
    margin-left: 5px;
    margin-left: 5px;
}

.title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-left {
    width: 75%;
    font-size: var(--portfolio_title_left_fs);
    font-weight: var(--portfolio_title_left_fw);
    font-family: inherit;
}

.title-right {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    font-size: var(--portfolio_title_right_fs);
    font-weight: var(--portfolio_title_right_fw);
    font-family: inherit;
}

.subtitle-list {
    width: 100%;
}

.subtitle-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.designation {
    position: relative;
    left: 0;
    font-size: var(--portfolio_subtitle_left_fs);
    font-weight: var(--portfolio_subtitle_left_fw);
    font-family: inherit;
}  

.date {
    position: relative;
    display: flex; 
    flex-direction: row;
    right: 0;
    text-align: right;
    font-size: var(--portfolio_subtitle_right_fs);
    font-weight: var(--portfolio_subtitle_right_fw);
    font-family: inherit;
    margin-right: 5px;
}

.period-delimiter {
    margin-left: 2px;
    margin-right: 2px; 
}

.elaborate {
    background-color: inherit;
    border: 0;
}

.elaborate:hover {
    cursor: pointer;
}

.content-container {
    width: 100%;
    font-size: var(--primary_fs);
    font-weight: var(--primary_fw);
    margin: 0;
    margin-left: 10px;
}

.content-head {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
}

.content-list {
    list-style-type: disc;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

.content-item {
    width: 100%;
}

.tags-container {
    margin-top: 5px;    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
}

.tag {
    border-radius: 100px;
    background-color: var(--bg_tags);
    padding: 2px 8px;
    font-size: var(--tags_fs);
    font-weight: var(--tags_fw);
    font-family: inherit;
    color: var(--text_section_tags);
    white-space: nowrap;
}

.portfolio-section:hover {
    background-color: var(--bg_section_hover);
}
