@import '../../css/colors.css';

.portfolio-container {
    width: max(40%, 570px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    margin-top: var(--navbar_height);
    color: var(--text_primary);
}

.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
}

.highlight {
    background-color: var(--bg_nav_target);
}

.section-heading {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
}

.selected-tag {
    border-radius: 100px;
    background-color: var(--bg_tags);
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    color: var(--text_tags_sel);
    white-space: nowrap;
}

.unselected-tag {
    border-radius: 100px;
    background-color: var(--bg_tags);
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    color: var(--text_tags_unsel);
    white-space: nowrap;
}

.selected-tag:hover {
    cursor: pointer;
    background-color: var(--bg_tags_hover);
}

.unselected-tag:hover {
    cursor: pointer;
    background-color: var(--bg_tags_hover);
}

.tags-cloud {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.clear-tags-filter {
    width: 100%;
    background-color: transparent;
    border: none;
    margin: 2px;
    text-decoration: underline;
    color: var(--text_primary);
}

.clear-tags-filter:hover {
    cursor: pointer;
}

.introduction {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headshot-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headshot {
    height: 150px;
    width: 150px;
    border: 2px solid var(--text_primary);
    border-radius: 50%;
    margin-right: 30px;
}

.about-container {
    text-align: justify;
}

.roles-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.role {
    width: 48%;
    border-radius: 10px;
    background-color: var(--bg_section);
}

.role-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: inherit;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--text_tags_unsel);
    margin-left: 5px;
    margin-right: 5px;
}

.role-content {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
