.portfolio-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}

.section-heading {
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}