@import '../../css/colors.css';
@import '../../css/font.css';

.project-section {
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    margin-bottom: 20px;
    background-color: var(--bg_section);
    text-decoration: none;
    color: inherit;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

.hover-pointer:hover {
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.title {
    width: 90%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: inherit;
    margin-bottom: 10px;
}
  
.project-section:hover {
    background-color: var(--bg_section_hover);
}

.hrefs-container {
    margin-bottom: 10px;
}

.content-container {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    margin-left: 10px;
}

.content-head {
    width: 100%;
}

.content-list {
    list-style-type: disc;
    margin: 0;
}

.content-item {
    width: 100%;
}

.project-href {
    margin-left: 5px;
    margin-right: 5px;
    color: var(--text_primary);
}

.project-href:hover {
    cursor: pointer;
}

.tags-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
}

.tag {
    border-radius: 100px;
    background-color: var(--bg_tags);
    padding: 2px 8px;
    font-size: var(--tags_fs);
    font-weight: 500;
    font-family: inherit;
    color: var(--text_tags_sel);
    white-space: nowrap;
}
