@import '../../css/font.css';
@import '../../css/colors.css';


.tags-cloud {
    width: 100%;
    top: var(--navbar_height);
    display: flex;
    flex-direction: column;
    font-size: var(--tags_fs);
    font-weight: var(--tags_fw);
}

.tags-cloud-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: var(--tags_cloud_heading_fs);
    font-weight: var(--tags_cloud_heading_fw);
}

.tags-cloud-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-category-container {
    width: 96%;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
}

.skill-category-title {
    width: 100%;
    margin-bottom: 2px;
    text-align: center;
    text-decoration: underline;
    font-size: var(--tags_category_fs);
    font-weight: var(--tags_category_fw);
    color: var(--text_skill_category);
}

.skill-category-tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.selected-tag-common {
    border-radius: 100px;
    background-color: var(--bg_tags_sel);
    padding: 4px 12px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    white-space: nowrap;
}

.unselected-tag-common {
    border-radius: 100px;
    background-color: var(--bg_tags);
    padding: 4px 12px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    white-space: nowrap;
}

.selected-tag-common:hover {
    cursor: pointer;
}

.unselected-tag-common:hover {
    cursor: pointer;
}

.selected-tag-color {
    color: var(--text_tags_sel);
}

.unselected-tag-color {
    color: var(--text_tags_unsel);
}

.selected-tag-color:hover {
    background-color: var(--bg_tags_hover);
}

.unselected-tag-color:hover {
    background-color: var(--bg_tags_hover);
}

.selected-tag-cute-color {
    background-color: var(--bg_tags_cute_sel);
}

.unselected-tag-cute-color {
    
}

.selected-tag-cute-color:hover {
    background-color: var(--bg_tags_cute_hover);
}

.unselected-tag-cute-color:hover {
    background-color: var(--bg_tags_cute_hover);
}

.clear-tags-filter {
    width: 100%;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: var(--text_small_pane);
    font-family: inherit;
    font-size: var(--tags_clear_fs);
    font-weight: var(--tags_clear_fw);
}

.clear-tags-filter:hover {
    cursor: pointer;
}

.tags-cloud-cute-margin {
    margin-top: 40px;
}