@import '../../css/font.css';

.tags-cloud {
    width: 100%;
    top: var(--navbar_height);
    display: flex;
    flex-direction: column;
    font-size: var(--tags_fs);
    font-weight: var(--tags_fw);
}

.tags-cloud-heading {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: inherit;
    font-size: var(--tags-cloud-heading-fs);
    font-weight: var(--tags-cloud-heading-fw);
}

.tags-cloud-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.selected-tag {
    border-radius: 100px;
    background-color: var(--bg_tags);
    padding: 4px 12px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: var(--text_tags_sel);
    white-space: nowrap;
}

.unselected-tag {
    border-radius: 100px;
    background-color: var(--bg_tags);
    padding: 4px 12px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: var(--text_tags_unsel);
    white-space: nowrap;
}

.selected-tag:hover {
    cursor: pointer;
    background-color: var(--bg_tags_hover);
}

.unselected-tag:hover {
    cursor: pointer;
    background-color: var(--bg_tags_hover);
}

.clear-tags-filter {
    width: 100%;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: var(--text_small_pane);
    font-family: inherit;
    font-size: var(--tags_clear_fs);
    font-weight: var(--tags_clear_fw);
}

.clear-tags-filter:hover {
    cursor: pointer;
}