@import './colors.css';
@import './dimensions.css';
@import './font.css';

.outer-wrapper {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  min-width: 600px;
  background: var(--bg_formula);
  background-attachment: fixed;
  font-family: var(--primary_ff);
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.double-pane {
  width: 100%;
  margin-top: var(--navbar_height);
  font-family: inherit;
  color: var(--text_primary);
}

.big-pane {
  margin-left: 40%;
  margin-bottom: var(--margin_bottom_px);
  width: 45%;
  display: flex;
  flex-direction: column;
}

.small-pane {
  position: fixed;
  left: 10%;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--text_navbar);
  color: var(--text_small_pane);
}

.headshot-container {
  margin-top: var(--headshot_margin);
  margin-bottom: var(--headshot_margin);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headshot {
  height: var(--headshot_height);
  width: var(--headshot_height);
  border: 2px solid var(--text_primary);
  border-radius: 50%;
}

.name {
  margin-top: 10px;
  width: 100%;
  font-family: var(--name_ff);
  font-size: var(--name_fs);
  font-weight: var(--name_fw);
  text-align: center;
}
