@import './colors.css';
@import './dimensions.css';

.outer-wrapper {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  min-width: 600px;
  background: var(--bg_formula);
  background-attachment: fixed;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.double-pane {
  width: 100%;
  margin-top: var(--navbar_height);
  font-family: inherit;
  color: var(--text_primary);
}

.big-pane {
  margin-left: 40%;
  margin-bottom: var(--margin_bottom_px);
  width: 50%;
  display: flex;
  flex-direction: column;
}

.small-pane {
  position: fixed;
  left: 10%;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.headshot-container {
  height: var(--about-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headshot {
  height: 150px;
  width: 150px;
  border: 2px solid var(--text_primary);
  border-radius: 50%;
}

.name {
  margin-top: 10px;
  width: 100%;
  font-size: 26px;
  font-weight: 450;
  text-align: center;
}
