:root {
    --primary_fs: 17px;
    --primary_fw: 400;
    
    --tags-cloud-heading-fs: 20px;
    --tags-cloud-heading-fw: 500;
    
    --tags_fs: 15px;
    --tags_fw: 400;
    
    --tags_clear_fs: 15px;
    --tags_clear_fw: 500;
    
    --navbar_fs: 16px;
    --navbar_fw: 450;
    
    --expertise_fs: 50px;
    --expertise_fw: 400;
    --expertise_ff: 'gt-super, Georgia, Cambria, "Times New Roman", Times, serif';

    --name_fs: 40px;
    --name_fw: 400;
    --name_ff: var(--expertise_ff);

    --portfolio_title_left_fs: 20px;
    --portfolio_title_left_fw: 700;

    --portfolio_title_right_fs: 16px;
    --portfolio_title_right_fw: 500;

    --portfolio_subtitle_left_fs: 18px;
    --portfolio_subtitle_left_fw: 400;

    --portfolio_subtitle_right_fs: 15px;
    --portfolio_subtitle_right_fw: 400;

    --project_href_fs: 18px;
    --project_href_fw: var(--primary_fw);
        
}