@import './colors.css';
@import './dimensions.css';

.footer {
  position: inherit;
  bottom: 0;
  height: var(--footer_height);
  margin-bottom: var(--margin-bottom-px);
  width: 20%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  bottom: 0;
}

.footer-email {
  margin: 0;
  text-align: center;
}

.email-text {
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 22px;
  font-weight: 100px;
  color: var(--text_footer);
}

.footer-content {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social-icon {
  color: var(--text_footer);
}

.icon-wrapper {
  margin-left: 8px;
  margin-right: 8px;
}

.highlight {
    background-color: var(--bg_nav_target);
}