.footer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-email {
  margin: 0;
  height: 20px;
  text-align: center;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 22px;
  font-weight: 100px;
  color: black;
}

.footer-content {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social-icon {
  color: black;
}

.icon-wrapper {
  margin-left: 8px;
  margin-right: 8px;
}