@import './colors.css';

.navbar {
    z-index: 1;
    position: fixed;
    justify-content: center;
    top: 0;
    height: 60px;
    width: 100%;
    min-width: 600px;
    background-color: var(--bg_navbar);
    color: var(--text_navbar);
    backdrop-filter: blur(2px);
}

.navbar-container {
    margin-left: 12%;
    margin-right: 12%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-family: 'gt-super', Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.nav-item {
    margin-left: 24px;
}

.nav-external {
    margin-left: 2px;
}

.nav-link {
    font-family: 'sohne', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.icon-small {
    font-size: 12px; /* Adjust the font size as per your preference */
}
