@import './colors.css';
@import './dimensions.css';

.navbar {
    z-index: 1;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    height: var(--navbar_height);
    width: 100%;
    min-width: 600px;
    background-color: var(--bg_navbar);
    backdrop-filter: blur(2px);
}

.nav-menu {
    margin-left: 12%;
    margin-right: 12%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.nav-item {
    margin-left: 24px;
    margin-right: 24px;
    font-family: 'sohne', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.nav-external {
    margin-left: 2px;
}

.nav-link {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    color: var(--text_navbar);
}

.nav-link-dead {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    color: var(--text_navbar-dead);
}

.nav-link:hover {
    cursor: pointer;
}

.icon-small {
    font-size: 12px; /* Adjust the font size as per your preference */
}
